
.myPage {
    position: absolute;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: white;
    width: 200px;
    height: 200px;
    font-size: 18px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);

    ul {
        list-style: none;
        width: 100%;
    }

    li {
        padding: 10px;
        cursor: pointer;
        width: 100%;
    }

    .logout {
        background-color: lightblue;
        width: 100%;
    }
}