
.myPage {
    position: absolute;
    right: 30px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    background-color: white;
    width: 200px;
    height: 300px;
    font-size: 18px;

    ul {
        list-style: none;
    }

    li {
        padding: 10px;
    }
}