
.businessCard {
    width: 400px;
    height: 20%;
  display: flex;
  flex-direction: column;
}

.businessCard__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}