
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.postContainer {
    h2 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
        margin-top: 20px;
    }
}

.editorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.category {
    height: 40px;
    width: 300px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    border-color: lightgray;
    color : rgba(0, 0, 0, 0.6);
}

.title {
    width: 100%;
    border-color: rgba(0, 0, 0, 0.1);
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
}

.btn {
    align-self: flex-end;
    background-color: transparent;
    border: 1px solid;
    border-color: #292965;
    color: #292965;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}