

.boardItem {
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    padding: 40px;
    height: 50%;

    h1 {
        font-weight: bold;
        font-size: 28px;
    }

    p {
        font-weight: 400;
        font-size: 18px;
    }
}

.boardItem_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boardItem_left_top {
    cursor:pointer;
}


.boardItem_right {
    img {
        border-radius: 15px;
        width: 300px;
        height: 200px;
    }
}