
.commentWriteContainer {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
}

.commentWrite {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.commentBtn {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #4cb1fa;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin: 20px;
}